<!-- Search bar -->
<section class="hero is-info">
  <div class="hero-body">
    <div class="container">
      <div class="card">
        <div class="card-content">
          <div class="content">
            <div class="control has-icons-left has-icons-right">
              <input class="input is-large inputValue" type="search" placeholder="search" value="" />
              <span class="icon is-medium is-left">
                <i class="fa fa-paw "></i>
              </span>
            </div>
            <span class="icon is-medium is-right">
              <button class="inputSearch">
                <i class="fa fa-search"></i>
              </button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Wee tab with message and shopping cart - memory: local storage - save products or ids - number function elements in array allow user delete -->
<section class="shopping-menu">
  <div class="search-results">
    <div class="box cta">
      <p class="has-text-centered">
        Here are your search results:
      </p>
    </div>

    <div class="shopping-right">
      <button class="button is-medium btnshopping">
        <span class="badge">{{itemsNum}}</span>
        <span class="icon">
          <i class="fa fa-shopping-cart"></i>
        </span>
        <span>Cart</span>
      </button>
      <button class="button is-medium checkoutBtn">
        <span class="icon">
          <i class="fa fas fa-money-bill-wave"></i>
        </span>
        <span>Checkout</span>
      </button>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="shopping-cart" style="display:none">
      <div class="shopping-cart-header">
        <i class="fa fa-shopping-cart cart-icon"></i><span class="badge">{{itemsNum}}</span>
        <div class="shopping-cart-total">
          <span class="lighter-text">Total:</span>
          <span class="main-color-text">${{cartTotal}}</span>
        </div>
      </div>


      <!-- Shopping cart items! yay -->
      <ul class="shopping-cart-items">
        {{#each cartItems}}
        {{!-- {{this.dataValues.name}} --}}
        {{> products/cart-block Cvalues=this.dataValues}}
        {{/each}}
      </ul>

    </div>
    <!--end shopping-cart -->
  </div>
  <!--end container -->

</section>
<section class="container is-fluid">
  <div class="columns is-multiline">
    {{#each data}}
    {{!-- {{this.dataValues.name}} --}}
    {{> products/products-block values=this.dataValues}}
    {{/each}}
  </div>
</section>
</div>


</section>

